extends layout

block content
	p
		| MyStatus allows you to display your Jabber / Google Talk status (such as Online or Busy) and status message on your
		| website, blog, or forum signature. It provides this data in JSON format so developers can use it easily :)
	p
		| This site is currently under construction and is not yet fully finished. The basic functionality works though.
		| If you'd like to try out the beta version, see the getting started instructions below. Please let me know if you 
		| encounter any issues by 
		a(href="http://dan.cx/") contacting me
		|.

	h1 Getting Started
	p
		img(src="/img/gmail-add-contact.png", alt="Screenshot of adding contact in Gmail", align="right")
		| To get started with MyStatus, please add 
		strong #{botJid} 
		| to your Jabber or Google Talk contacts. You will receive a chat message with a link to complete the registration.
		| If you use Gmail, see the screenshot to the right.
		
	h1(style="clear: both") 
		a(href="http://dan.cx/blog/category/mystatus") News
	div#news Loading...
		
	script#news-template(type="text/x-handlebars-template")
		{{#each entries}}
		article
			h3 
				a(href="{{url}}") {{title}}
			small 
				{{date}} | 
				a(href="{{url}}#disqus_thread") View comments
			div {{{content}}}
		{{/each}}
	
block extraScripts
	script(src="//ajax.googleapis.com/ajax/services/feed/load?v=1.0&q=http://dan.cx/blog/category/mystatus.rss&callback=Pages.Index.newsCallback")