extends layout

block content
	h1 MyStatus
	p
		| MyStatus allows you to display your XMPP / Google Talk status (such as Online or Busy) and status message on your
		| website, blog, or forum signature. It provides this data in JSON format so developers can use it easily :)
	p
		| This site is currently under construction and is not yet finished. It is still VERY rough around the edges.
		| If you'd like to try out the alpha version, see the registration form below. Please let me know if you 
		| encounter any issues!

	h1 Getting Started
	p
		| To get started with MyStatus, please add 
		strong #{botJid} 
		| to your XMPP or Google Talk contacts. You will receive a chat message with a link to complete the registration.