extends layout

block content
	h1 MyStatus
	p
		| MyStatus allows you to display your XMPP / Google Talk status (such as Online or Busy) and status message on your
		| website, blog, or forum signature. It provides this data in JSON format so developers can use it easily :)
	p
		| This site is currently under construction and is not yet fully finished. The basic functionality works though.
		| If you'd like to try out the beta version, see the getting started instructions below. Please let me know if you 
		| encounter any issues by 
		a(href="http://dan.cx/") contacting me
		|.

	h1 Getting Started
	p
		img(src="/img/gmail-add-contact.png", alt="Screenshot of adding contact in Gmail", align="right")
		| To get started with MyStatus, please add 
		strong #{botJid} 
		| to your XMPP or Google Talk contacts. You will receive a chat message with a link to complete the registration.
		| If you use Gmail, see the screenshot to the right.