doctype 5
html
	head
		meta(charset="utf-8")
		title= title
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		!= css('main')
	body
		.container
			.page-header
				h1= title
			
			block content
		
			footer
				| By 
				a(href="http://dan.cx/") Daniel15
				| . Any questions? Contact me.
				
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		!= js('main')