form(action="/account/#{account.accountCode}", method="post")
	p
		label(for="username") Choose a username:&nbsp;
	input(type="text", name="username", id="username", value=account.username)
	input(type="submit", value="Save")